In [1]:
# dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import os
os.getcwd()

'C:\\Users\\Alec\\Documents\\Programming Resources\\Boot Camp\\05_Matplotlib\\matplotlib-challenge'

In [2]:
mouse_metadata = 'resources/mouse_metadata.csv'
study_results = 'resources/study_results.csv'

## Preview Data Mouse Metadata -----------------------------------

In [3]:
mouse_metadata_df = pd.read_csv(mouse_metadata)
mouse_metadata_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [4]:
mouse_metadata_df.describe()

       Age_months  Weight (g)
count  249.000000  249.000000
mean    12.730924   26.116466
std      7.228687    3.697003
min      1.000000   15.000000
25%      6.000000   25.000000
50%     13.000000   27.000000
75%     19.000000   29.000000
max     24.000000   30.000000

In [5]:
mouse_metadata_df.count()

Mouse ID        249
Drug Regimen    249
Sex             249
Age_months      249
Weight (g)      249
dtype: int64

In [6]:
# Check Mouse Number
mouse_count = len(mouse_metadata_df['Mouse ID'].unique())
mouse_count

249

## Preview Study Data --------------------------------------------

In [7]:
study_results_df = pd.read_csv(study_results)
study_results_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [8]:
study_results_df.describe()

         Timepoint  Tumor Volume (mm3)  Metastatic Sites
count  1893.000000         1893.000000       1893.000000
mean     19.572108           50.448381          1.021659
std      14.079460            8.894722          1.137974
min       0.000000           22.050126          0.000000
25%       5.000000           45.000000          0.000000
50%      20.000000           48.951474          1.000000
75%      30.000000           56.292200          2.000000
max      45.000000           78.567014          4.000000

In [9]:
study_results_df.count()

Mouse ID              1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

# Merge Dataframes -----------------------------------------

In [10]:
combined_df = pd.merge(mouse_metadata_df, study_results_df, how='outer', on=['Mouse ID'])

In [11]:
combined_df.describe()

,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
count,1893.000000,1893.000000,1893.000000,1893.000000,1893.000000
mean,12.814580,25.662441,19.572108,50.448381,1.021659
std,7.189592,3.921622,14.079460,8.894722,1.137974
min,1.000000,15.000000,0.000000,22.050126,0.000000
25%,7.000000,25.000000,5.000000,45.000000,0.000000
50%,13.000000,27.000000,20.000000,48.951474,1.000000
75%,20.000000,29.000000,30.000000,56.292200,2.000000
max,24.000000,30.000000,45.000000,78.567014,4.000000

In [12]:
combined_df.count()

Mouse ID              1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [13]:
combined_df.head(15)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0

### Who has Duplicate Values? Are there NaN Values?

In [14]:
# use .duplicated to preserve data on duplicates instead of just dropping them
who_has_dupes = combined_df.loc[combined_df.duplicated(subset=['Mouse ID', 'Timepoint'], keep=False)]

duplicate_mouse_data = who_has_dupes

# capture only unique data, turn into list for filtering later
duplicate_mouse_list = who_has_dupes['Mouse ID'].unique()
duplicate_mouse_list

# Compare counts to OG counts above (1893)
# dupe_test_combined_df = combined_df.drop_duplicates()
# dupe_test_combined_df.count()

# NaN_test_df = combined_df.dropna(how='any')
# NaN_test_df.count()

array(['g989'], dtype=object)

## Drop Duplicate Values

In [15]:
#drop all dataframe entries matching Duplicate Mouse List
# use .isin to return values in a given list, the '~' acts as a NOT operator
# new_df = old_df['NOT'old_df['column'].isin(list)]
# ==> Return all values in data frame that are not in this list
complete_df = combined_df[~combined_df['Mouse ID'].isin(duplicate_mouse_list)]
complete_df.count()

Mouse ID              1880
Drug Regimen          1880
Sex                   1880
Age_months            1880
Weight (g)            1880
Timepoint             1880
Tumor Volume (mm3)    1880
Metastatic Sites      1880
dtype: int64

# Search for a Mouse --------------------------------------

In [16]:
# Search for a mouse based on ID

# mouse_id = input('Enter Mouse ID, then press SHFT+ENTR. ')
# find_mouse = combined_df.loc[combined_df['Mouse ID'] == str.lower(mouse_id)]
# find_mouse

# --------------- Clean Data Frame Below --------------------------

mouse_id = input('Enter Mouse ID, then press ENTER. ')
find_mouse = complete_df.loc[complete_df['Mouse ID'] == str.lower(mouse_id).strip()]
find_mouse

Enter Mouse ID, then press ENTER.

Empty DataFrame
Columns: [Mouse ID, Drug Regimen, Sex, Age_months, Weight (g), Timepoint, Tumor Volume (mm3), Metastatic Sites]
Index: []

# --------------------------------------------------------------------

## Post-cleaning Mouse Count

In [19]:
# check number of mice in clean dataframe
mouse_count_new = len(complete_df['Mouse ID'].unique())
print(f"The original number of Mouse ID's was {mouse_count}. After cleaning, the number is {mouse_count_new}. ")

The original number of Mouse ID's was 249. After cleaning, the number is 248.

In [20]:
 # Generate a summary statistics table of mean, median, variance, standard deviation,
    #and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of 
#each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

column_list = complete_df.columns.to_list()
column_list

['Mouse ID',
 'Drug Regimen',
 'Sex',
 'Age_months',
 'Weight (g)',
 'Timepoint',
 'Tumor Volume (mm3)',
 'Metastatic Sites']

In [31]:
tVol_mean = complete_df.groupby('Drug Regimen').mean()['Tumor Volume (mm3)']
tVol_median = 0
tVol_variance = 0
tVol_std = 0
tVol_SEM = 0


tVol_dReg_df = pd.DataFrame({
    'Mean Tumor Vol mm3': tVol_mean,
    'Median Tumor Vol mm3': tVol_median,
    'Variance of Tumor Vol mm3': tVol_variance,
    'Std. Dev. Tumor Vol mm3': tVol_std,
    'Std. Err. Tumor Vol mm3': tVol_SEM,
})

tVol_dReg_df

,Mean Tumor Vol mm3,Median Tumor Vol mm3,Variance of Tumor Vol mm3,Std. Dev. Tumor Vol mm3,Std. Err. Tumor Vol mm3
Drug Regimen,,,,,
Capomulin,40.675741,0,0,0,0
Ceftamin,52.591172,0,0,0,0
Infubinol,52.884795,0,0,0,0
Ketapril,55.235638,0,0,0,0
Naftisol,54.331565,0,0,0,0
Placebo,54.033581,0,0,0,0
Propriva,52.320930,0,0,0,0
Ramicane,40.216745,0,0,0,0
Stelasyn,54.233149,0,0,0,0
Zoniferol,53.236507,0,0,0,0